<body>

<!-- NAVIGATION BAR -->
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid nav-container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h2 class="brand"><a class="navbar-brand" href="#">COMMUNITY PRESS</a></h2>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a class="scrolly" href="#banner-container">HOME <span class="sr-only">(current)</span></a></li>
              <li><a class="scrolly" href="#printing-container">PRINTING <span class="sr-only">(current)</span></a></li>
              <li><a class="scrolly" href="#copy-container">COPYING <span class="sr-only">(current)</span></a></li>
              <li><a class="scrolly" href="#mail-container">MAILING <span class="sr-only">(current)</span></a></li>
              <li><a class="scrolly" href="#contact-container">CONTACT<span class="sr-only">(current</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a>
                  | 619 993 3750
                  <i class="fa fa-mobile fa-lg"></i>
                </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>

  <!-- BANNER -->
  <div class="banner" id='banner-container'>
    <img class="carousel-img" src="./assets/images/bigstock-Post-office-77105036-scaled.jpg">
    <div class="overlay">
      <div class="overlay-content">
        <h1>Printing, Copying, Mailing... All in one place.</h1>
        <h3>Serving Southern California for over 25 years.</h3>
      </div>
    </div>
  </div>

      <div class="modal fade" id="alert-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
              p Your message was sent.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

  <!-- ABOUT US -->
  <div class="container" id="about-container">
    <div class="row">
      <div class="col-lg-4">
        <div class="col-inner badges">
          <div class="badges-content">
            <p><b>26</b></p>
            <h3 class="badges-header">YEARS OF EXPERIENCE</h3>
            <p>
              Community Press has been in business under the same owner for over 26 years. We have worked with Law Offices, HOA organizations, and many other small businesses. We understand how to develop effective solutions to satisfy the needs of any type of business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-inner badges">
          <div class="badges-content">
            <i class="glyphicon glyphicon-file"></i>
            <h3 class="badges-header">CONFIDENTIAL</h3>
            <p>
              Customer confidentiality is of top importance at Community Press. We ensure your work remains secure by deleting all downloaded files and shredding hard-copy documents after processing. We will never share your information with anyone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-inner badges">
          <div class="badges-content">
            <img src="./assets/images/flag-icon.png">
            <h3 class="badges-header">MADE IN THE USA</h3>
            <p>
              We are proud that the white paper we use is made in the United States of America, from trees that are grown in controlled timberland areas where trees are planted and are always in various stages of growth for future generations to come.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="col-inner badges">
          <div class="badges-content">
            <i class="fa fa-tree"></i>
            <h3 class="badges-header">ECO FRIENDLY</h3>
            <p>
              We support paper distributors that choose to be responsible by not buying their products from countries with endangered and sensitive areas, such as the Amazon region.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>

  <!-- PRINTING SERVICES -->
  <div class="container" id="printing-container">
    <div class="header">
      <h1>PRINTING SERVICES</h1>
      <i class="glyphicon glyphicon-triangle-bottom"></i>
    </div>
    <div class="row inner-row">
      <div class="col-lg-4">
        <div class="col-inner image">
          <img src="./assets/images/bigstock-Beauty-Girl-Portrait-with-Colo-49016609-scaled.jpg">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Digital Printing</h3>
          </div>
          <div class="row">
            <div class="content">
              <div class="col-lg-5">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna.
                </p>
              </div>
              <div class="col-lg-7">
                <div class="table-header">
                  <h4>Let us help you get the word out with our wide array of promotional products:</h4>
                </div>
                <table class="table-sm" id="products-table">
                  <tbody>
                    <tr>
                      <td><p>Wedding Invitations</p></td>
                      <td><p>Newsletters</p></td>
                    </tr>
                    <tr>
                      <td><p>Election Materials</p></td>
                      <td><p>Decals</p></td>
                    </tr>
                    <tr>
                      <td><p>Magnets</p></td>
                      <td><p>Pads</p></td>
                    </tr>
                    <tr>
                      <td><p>Booklets</p></td>
                      <td><p>Carbonless Forms</p></td>
                    </tr>
                    <tr>
                      <td><p>Menus</p></td>
                      <td><p>Door Hangers</p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><div class="row">
      <div class="col-lg-4">
        <div class="col-inner image">
          <img src="./assets/images/bigstock-Colorful-eye-26882519-scaled.jpg">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Offset Printing</h3>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum ex tincidunt justo pellentesque, et venenatis sem consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum  ex tincidunt justo pellentesque, et venenatis sem consectetur.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-inner image">
          <img src="./assets/images/bigstock-Designer-At-Work-Color-Sample-43084108-scaled.jpg">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Graphic Design Services</h3>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum ex tincidunt justo pellentesque, et venenatis sem consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum ex tincidunt justo pellentesque, et venenatis sem consectetur.
            </p>
          </div>
        </div>
      </div>
    </div><div class="row">
      <div class="col-lg-4">
        <div class="col-inner image">
          <img src="./assets/images/bigstock-Pile-of-magazines-72228880-scaled.jpg">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Professional Binding</h3>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum ex tincidunt justo pellentesque, et venenatis sem consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et tempor ex, non iaculis orci. Suspendisse pulvinar lacus quis faucibus tincidunt. Ut et lorem id enim lacinia pellentesque. Vivamus lacinia tristique sagittis. Nullam volutpat gravida ipsum dictum porttitor. Proin eget facilisis odio. Sed vitae tellus elementum, maximus eros vitae, fringilla magna. Fusce bibendum ex tincidunt justo pellentesque, et venenatis sem consectetur.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COPY SERVICES -->
  <div class="container" id="copy-container">
    <div class="row" id="copy-row">
      <div class="header" id="copy-header">
        <h1>COPY SERVICES</h1>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
      </div>
      <div class="col-lg-12">
        <div class="col-inner">
          <div class="inner-header">
            <h3>Affordable and Accurate Copies</h3>
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="col-inner border">
                <div class="content">
                  <p>
                    At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order. At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
                  </p>
                  <p>
                    At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
                  </p>
                  <p>
                    At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="col-inner image">
                <img src="./assets/images/Offset-Litography-Printing-1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-lg-3">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Black and White</h3>
          </div>
          <div class="content">
            <p>
              At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Color</h3>
          </div>
          <div class="content">
            <p>
              At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific  needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Large Format</h3>
          </div>
          <div class="content">
            <p>
              At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-inner">
          <div class="inner-header border">
            <h3>Available Sizes</h3>
          </div>
          <div class="content">
            <p>
              At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.At Community Press, we have the experience and equipment to provide duplication services that adapt to your specific needs. We strive for perfection with every order.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAILING SERVICES -->
  <div class="container" id="mail-container">
    <div class="row">
      <div class="header" id="mail-header">
        <h1>MAIL SERVICES</h1>
        <i class="glyphicon glyphicon-triangle-bottom"></i>
      </div>
      <div class="col-lg-12">
        <div class="col-inner grid-test">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="col-inner grid-test">
          <div class="inner-header border">

          </div>
          <div class="content">

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-inner grid-test">
          <div class="inner-header border">

          </div>
          <div class="content">

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="col-inner grid-test">
          <div class="inner-header border">

          </div>
          <div class="content">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="container-fluid footer" id="contact-container">
    <div class="row">
      / <div class="col-lg-2 footer-content brand">
      /   <div class="col-inner">
      /     <img src="./assets/images/bigstock-Full-color-spectrum-transparent-22660229.png">
      /   </div>
      / </div>
      <div class="col-lg-6 footer-content">
        <form name="email-form" action="/mail" method="post" id="email_form">
          <div class="form-group form-inline">
            <input class="form-control" type="text" name="first-name" placeholder="First Name"/>
            <input class="form-control" type="text" name="last-name" placeholder="Last Name">
          </div>

          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" placeholder="Message"></textarea>
          </div>
          <input class="btn btn-primary" type="submit" id="ajax_form" value="Submit"/>
        </form>
      </div>
      <div class="col-lg-3 footer-content address">
        <div class="col-inner">
          <h4>Community Press</h4>
          <p>5595 Magnatron Boulevard</p>
          <p>Suite J</p>
          <p>San Diego, CA 92111</p>
        </div>
      </div>
      <div class="col-lg-3 footer-content contact">
        <div class="col-inner">
          <br>
          <span>
            <p>
              <i class="glyphicon glyphicon-earphone"></i>
              | 619.993.3750
            </p>
          </span>
          <span>
            <p>
              <i class="fa fa-fax"></i>
              | 555.555.5555
            </p>
          </span>
          <span>
            <p>
              <i class="fa fa-laptop"></i>
              | communitypress@sbcglobal.net
            </p>
          </span>
          <br>
        </div>
      </div>
    </div>
    <div class="container design-container">
      <div class="col-inner">
        <p class="design">site design by
          <a href="http://trevormast.net"> Trevor Mast</a>
        </p>
      </div>
    </div>
  </div>
</body>

javascript:
  $('#ajax_form').on('click', function(e) {
    e.preventDefault();
    var form = $('#email_form')
    $.ajax({
                url: '/mail',
                type: 'POST',
                data: form.serialize()
            }).done(function(data) {
                if (data.success) {
                    $('#alert-modal').modal();
                } else {
                  console.log('error')
                }
            });
  })

