
h1, h2, h3, h4, a {
 font-family: 'Montserrat', sans-serif;;
}

p {
  font-family: 'Cousine', monospace;
}

/*NAV*/
.navbar-wrapper {
  position: absolute;
  top: 0; right: 0; left: 0;
  z-index: 20
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

nav.navbar.navbar-inverse {
  padding-left: 0;
}

nav {
}

.navbar-inverse .navbar-brand {
  color: black;
}

.container-fluid.nav-container {
  padding-left: 0;
}

.navbar-header {
  background-color: #e27563;
  padding-left: 15px;
}

h2.brand {
  margin-top: 0;
}

/*WRAPPERS*/
.container {
  margin-bottom: 60px;
}

/*BANNER*/
.banner {
  position: relative;
  height: 400px;
  margin-bottom: 60px;
}

.banner > img {
  width: 100%;
  height: 400px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  min-height: 100%;
  z-index: 1;
  top: 0; right: 0; left: 0; bottom: 0;
}

.overlay-content {
  margin-top: 15%;
  text-align: center;
}

.overlay-content > h1, h3 {
  color: white;
}

/*BADGES*/

#badges-row h3{
  color: black;
}

#badges-row > div {
  height: 300px;
  border-right: 1px solidck;
  padding-top: -20px;
  padding-bottom: -20px;
  margin-bottom: 15px;
  text-align: center;
}

#badges-row > div:nth-child(3) {
  border: none;
}

#badges-row > div:last-child {
  border: none;
}

#badges-row img {
  height: 100px;
  margin-bottom: -15px;
}

#badges-row i {
  font-size: 90px;
}


.call button.btn.btn-primary {
  font-size: 18px;
  padding: 26px 42px 26px 42px;
  border: none;
  border-radius: 0;
  background-color: #e27563;
}




























